# Chapter 4 requirements
fastapi
pydantic
uvicorn
pandas
numpy
scikit-learn
PyOD
# Chapter 5 requirements
pytest
# Chapter 7 requirements
scikit_posthocs
# Chapter 8 requirements
streamlit
seaborn
plotly.express
# Chapter 11 requirements
combo
# Chapter 14 requirements
ruptures
# Chapter 17 requirements
tslearn